* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-color: rgb(255, 249, 249);
}

/* Parent Grid */
.container {
  /* margin: 5px 5px 0px 5px; */
  height: 885px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 0.1fr 0.8fr 1fr;
  row-gap: 8px;
  column-gap: 8px;
}

/* Parent Flex Navbar */
.navbar {
  background-color: rgb(177, 67, 166);
  padding: 2px 0;
  height: 60px;
  grid-area: header;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/* Child Navbar-Logo */
.logo {
  padding-left: 20px;
  letter-spacing: 1.4px;
}

.logo p{
  font-size: x-large;
}

/* Child Navbar-Menu & Parent Flex Menu */
.navbar ul {
  display: flex;
  padding-right: 28px;
  list-style: none;
}

/* Child Menu-Home */
.navbar ul li a {
  color: white;
  margin: 10px;
  padding: 10px;
  width: 5%;
  text-decoration: none;
}

.navbar .button-menu{
  display: none;
}

/* Parent Sidebar */
.sidebar {
  background-color: rgb(255, 246, 246);
  padding: 0;
  grid-area: sidebar;
  margin-right: 8px;
}
/* Judul Sidebar */
.sidebar h3 {
  height: 20px;
  padding: 20px;
  letter-spacing: 1px;
  background-color: rgb(177, 67, 166);
  display: flex;
}
/* Box Parent 1 */
.box1 {
  background-color: rgb(177, 67, 166);
  border: 4px solid rgb(177, 67, 166);
  border-radius: 5px;
  margin: 10px;
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.image {
  background-color: rgb(255, 112, 241);
  margin: 2px;
  width: auto;
  height: 105px;
  margin-bottom: 10px;
}
h4 {
  margin: 0;
  padding: 2px 0 6px 10px;
  align-items: left;
}
.box1 p {
  font-size: small;
  margin: 0px;
  padding: 0 2px 10px 10px;
}

/* Box Parent 2 */
.box2 {
  background-color: rgb(177, 67, 166);
  border: 4px solid rgb(177, 67, 166);
  border-radius: 5px;
  margin: 10px;
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.box2 p {
  font-size: small;
  margin: 0px;
  padding: 0 2px 10px 10px;
}

/* Box Parent 3 */
.box3 {
  background-color: rgb(177, 67, 166);
  border: 4px solid rgb(177, 67, 166);
  border-radius: 5px;
  margin: 10px;
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.box3 p {
  font-size: small;
  margin: 0px;
  padding: 0 2px 10px 10px;
}

/* Child Grid Content */
main {
  background-color: rgb(255, 246, 246);
  box-sizing: border-box;
  margin-left: 8px;
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main;
}

/* Child Grid Footer */
.footer {
  background-color: rgb(177, 67, 166);
  height: 10px;
  padding: 8px;
  display: flex;
  justify-content: center;
  text-size-adjust: small;
  align-items: center;
  grid-area: footer;
}
.footer p {
  font-size: small;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }

  .logo {
    align-items: center;
    letter-spacing: 0.5px;
  }

  
.navbar .button-menu{
  display: flex;
  flex-direction: column;
}

.navbar .button-menu span{
  margin-top: 5px;
  align-items: center;
  width: 28px;
  height: 2.5px;
  background-color: white;
  border-radius: 3px;
  margin-right: 20px;
}

}
